@mixin btn($primary:false) {
    display: inline-block;
    border-radius: 30px;
    padding:10px 30px;
    font-size: $Fontsize;
    font-weight: weight(bold);
    border: 0;
    @include set-bg-color($BrightRed);

    @if $primary {
        margin: 30px;
        
    }
}
