
$font-weights: (
'regular':400,
'medium':500,
'bold':700
);

%header {
    text-align: center;
    line-height: 3.1rem;
    font-weight: 700;
    font-size: 35px;
    margin: 20px 0;
}

%text {
    line-height: 2.2rem;
    font-weight: 400;
    font-size: 18px;
    
    
}

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction, $wrap) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

.container-fluid{
    text-align: center;
}
