
$font-stack: Helvetica, sans-serif;
$be-vietnam:'Be Vietnam';

* {
    padding: 0;
    border: 0;
  }
  
  html{
    box-sizing: border-box;
    height: auto;
    width: auto;
  } 

  body{
  overflow-x: hidden;
  font-family:$be-vietnam, $font-stack;
  min-height: 100vh;
  min-width: 100vw;
}

.container-fluid{
  width: 375px;
  padding: 0;
}

p {
  margin:0;
}