@import 'config';
@import 'resets';
@import 'variables';
@import 'buttons';

.navbar {
    width:100%;
    height: fit-content;
    @include flexCenter(row, nowrap);
#navbar-btn{
    display: none;
}
&-hamburger.show{
    display: block;
    
}

&-hamburger{
    display: none;

}

&-hamburger.show{
    display: block;

}

&-icon-close{
    display: none;
}
&-icon-close.show{
    display: block  ;
}

    @include large{
    
    
    &-collapse {
        justify-content: space-around;
        text-align: center;
    
    }

    #navbar-btn{
        display: block;
    }
    
}
}

.modal-nav{
    display: none;
}
.modal-nav.show{
    width: 330px;
    height: 280px;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    position: absolute;
    @include flexCenter(column,nowrap);
    box-shadow: 69px 72px 125px $DarkGrayishBlue;
    background-color: white;

    .modal-body{
        margin-top: 20px;
    }
    .modal-body .navbar-nav a.nav-link{
        color: $DarkBlue;
        @extend %text;
        font-weight: 900;
        font-size: 20px;
    }
        
    
}


.top-text-slogan{
    @include flexCenter(column, wrap);
    @include large{
        h1{
        text-align: start;
        }
        .intro-text {
            text-align: start;
            margin: 27px 0;
        }
}

}
.intro{
    width: 100%;
    
}

h1 {
color: $DarkBlue;
@extend %header;
align-items: start;

}

.intro-section{

.intro-text {
    color: $DarkGrayishBlue;
    @extend %text;
    margin: 21px 27px;
    text-align: justify;
}

@include large{
    h1{
    text-align: start;
    }
    .intro-text {
        text-align: start;
        margin: 27px 0;
    }
}

}
.slogan-text{
    @extend %text;
    color: $DarkBlue;
   font-weight: weight(bold);
    margin: 0 0 0 10px;
    
}


.main-text {
    color: $DarkGrayishBlue;
    @extend %text;
    margin: 10px 0 30px 10px;
    text-align: left;

}


.btn-primary{
    @include btn($primary:true);
    
}

.btn-secondary{
    @include btn($primary:false);
   
    
}

.white-btn{
    @include set-bg-color($VaryLightGray);
}

.card-wrapper {
    @include flexCenter(column, wrap);
    overflow: hidden;
    

    .inner{
        display: flex;
        transition: all 1s ease-in-out;
    }
}
.card {
    @include flexCenter (column, nowrap);
   color: $DarkGrayishBlue;
   background-color: $VaryLightGray;
    @extend %text;
    margin-top: 80px;
    height: 250px;
    img {
        width:80px;
       margin-top: -40px;
    }
    .card-title{
        @extend %text;
        top:40px;
        margin: 10px auto;
    }

    @include large{
        .card-wrapper{
            @include flexCenter(column,wrap);
            overflow: hidden;
        
            .inner{
                display: flex;
                transition: all 1s ease-in-out;
            }
        }
    }

}

.map {
    margin-top: 1em;
    &>button {
        all: unset;
        background: lighten($color:$BrightRed, $amount: 10);
        cursor: pointer;
        margin: 0 0.125em;
        position: relative;
        user-select: none;
        @include circle(1em);

        &.active{
            &::after {
                background: $BrightRed;
                content: '';
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                top:50%;
                @include circle(1em);
            }
        }
    }
}

.red-patch {
    background-color: $BrightRed;
    @include flexCenter(column, wrap);

    h1{
    @include set-bg-color($BrightRed);
    
    }
    .white-btn{
        align-self:center;
    }
}
    @include large {
        .red-patch {
            align-items: stretch;
        h1{
           
            text-align: left;
            }
        .white-btn{
            float: right;
            align-self: center;
        }
    }

}

.wrapper{
    background-color: $VeryPaleRed;
    border-top-left-radius: 16px ;
    border-bottom-left-radius: 16px ;
    @include flexCenter(row,nowrap);
    width: 100%;

}

@include large{
    .main-text {
        margin: 22px 0 37px 92px;
    }
}


.footer-wrapper{
    @include set-bg-color($DarkBlue);
    justify-content: space-around;

    .menu-bottom-list{
        @include flexCenter(row,nowrap);
        justify-content: space-evenly;
        margin: 0 auto;
    }
    .footer-menu-wrapper-left{
        line-height: 2rem;
        @include element-float(left,10px);
    }
    .footer-menu-wrapper-right{
        line-height: 2rem;
        align-self: baseline;
        @include element-float(right,10px);
    }

    .logo-bottom{
        margin: 15px auto;
    }
    .logo-social{
        display: flex;
        flex-direction: column-reverse;
        
        svg{
            margin-top: 20px;

        }

        .svg-bottom-logo {
            fill:$VaryLightGray;
        }
    }
    .social-icons{
        @include flexCenter(row, wrap);
        justify-content: space-evenly;
        margin: 20px;
    }
    .input-box{
        @include flexCenter(row, nowrap);
        padding: 5px;
        justify-content: flex-end;
        
        
    }
    .update-box{
        @include flexCenter(row,nowrap);
        
    }
    .form-control{
        width: 220px;
        border-radius: 40px;
    }
    @include tablet {
        
        padding: 30px;
        

        .logo-social {
            @include flexCenter(column, wrap);
            align-items: inherit;
            justify-content: space-between;
           

            .logo-bottom {
                margin-top: 0;
            }
            svg{
                margin: 0;
            }
        }
        .social-icons{
            display: flex;
            margin: 0;
        }
        .menu-bottom-list{
            @include flexCenter(row,nowrap);
            justify-content:space-between;
            margin-left: 70px;
        }
        .footer-menu-wrapper-left{
            line-height: 2rem;
            @include element-float(left,30px);
        }
        .footer-menu-wrapper-right{
            line-height: 2rem;
            align-self: baseline;
            @include element-float(right,30px);
        }

        .input-box {
            align-items: center;
            margin-left: 46px;
            flex-direction: column;

            
        }
        button{
            margin-top: 40px;
            
        }
        .copyright {
            margin-top: 50px;
            font-size: 12px;
        }

        
    }
    @include large {
        
        padding: 30px;
        

        .logo-social {
            @include flexCenter(column, wrap);
            align-items: inherit;
            justify-content: space-between;
           

            .logo-bottom {
                margin-top: 0;
            }
            svg{
                margin: 0;
            }
        }
        .social-icons{
            display: flex;
            margin: 0;
        }
        .menu-bottom-list{
            @include flexCenter(row,nowrap);
            justify-content:space-between;
            margin-left: 70px;
        }
        .footer-menu-wrapper-left{
            line-height: 2rem;
            @include element-float(left,30px);
        }
        .footer-menu-wrapper-right{
            line-height: 2rem;
            align-self: baseline;
            @include element-float(right,30px);
        }

        .input-box {
            align-items: flex-start;
            margin-left: 76px;
            display: flex;
            flex-direction: row;
    
        }
        button{
            margin-top: 0;
            
        }
        .copyright {
            margin-top: 50px;
            font-size: 12px;
        }
    }
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }