@import 'config';
@import 'resets';
@import 'variables';
@import 'buttons';

.navbar {
    width:100%;
    height: fit-content;
    @include flexCenter(row, nowrap);
    @include desktop{
    justify-content:flex-end;

    }
}

.intro{
    width: 100%;
    margin: 0 auto;
}

h1 {
color: $DarkBlue;
@extend %header;
}

.intro-text {
    color: $DarkGrayishBlue;
    @extend %text;
    margin: 21px 27px;
    text-align: justify;
}

.slogan-text{
    @extend %text;
    color: $DarkBlue;
   font-weight: weight(bold);
    margin: 0 0 0 10px;
    
}


.main-text {
    color: $DarkGrayishBlue;
    @extend %text;
    margin: 10px 0 30px;
    text-align: left;
}


.btn-primary{
    @include btn($primary:true);
    background-color:$BrightRed;
    
}

.btn-secondary{
    @include btn($primary:false);
    background-color:$BrightRed;
    
}

.wrapper{
    background-color: $VeryPaleRed;
    border-top-left-radius: 16px ;
    border-bottom-left-radius: 16px ;
    @include flexCenter(row,wrap);
    width: 100%;
   
    
}

.footer-wrapper{
    @include large {
        @include flexCenter(row, wrap);
        margin-top: 40px;
       
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }