@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
h1 {
  text-align: center;
  line-height: 3.1rem;
  font-weight: 700;
  font-size: 35px;
  margin: 20px 0;
}

.intro-text, .slogan-text, .main-text {
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 16px;
}

.container-fluid {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
}

* {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  height: auto;
  width: auto;
}

body {
  overflow-x: hidden;
  font-family: "Be Vietnam", Helvetica, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}

p {
  margin: 0;
}

/* Primary */
/* ### Neutral */
/* ## Typography */
/* ### Body Copy */
.navbar {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (min-width: 1280px) {
  .navbar {
    justify-content: flex-end;
  }
}

.intro {
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: #242d52;
}

.intro-text {
  color: #9095a7;
  margin: 21px 27px;
  text-align: justify;
}

.slogan-text {
  color: #242d52;
  font-weight: 700;
  margin: 0 0 0 10px;
}

.main-text {
  color: #9095a7;
  margin: 10px 0 30px 10px;
  text-align: left;
}

.btn-primary {
  display: inline-block;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  background-color: #f25f3a;
  color: #fafafa;
  margin: 30px;
}

.btn-secondary {
  display: inline-block;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  background-color: #f25f3a;
  color: #fafafa;
}

.white-btn {
  background-color: #fafafa;
  color: #f25f3a;
}

.red-patch {
  background-color: #f25f3a;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.red-patch h1 {
  background-color: #f25f3a;
  color: #fafafa;
  margin-left: 67px;
}

.red-patch .white-btn {
  float: right;
  margin-right: 80px;
}

.wrapper {
  background-color: #ffefeb;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 10px;
}

.footer-wrapper {
  background-color: #242d52;
  color: #fafafa;
  margin: 0 auto;
}

.footer-wrapper .menu-bottom-list {
  line-height: 2rem;
}

.footer-wrapper .logo-bottom {
  margin-top: 15px;
}

.footer-wrapper .logo-social {
  display: flex;
  flex-direction: column-reverse;
}

.footer-wrapper .logo-social svg {
  margin-top: 20px;
}

.footer-wrapper .logo-social .svg-bottom-logo {
  fill: #fafafa;
}

.footer-wrapper .social-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.footer-wrapper .update-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 20px;
}

.footer-wrapper .form-control {
  width: 220px;
  border-radius: 40px;
}

@media (min-width: 1024px) {
  .footer-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
  }
  .footer-wrapper .logo-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
  .footer-wrapper .logo-social .logo-bottom {
    margin-top: 0;
  }
  .footer-wrapper .social-icons {
    margin: 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
